streamlit==1.35.0
pandas==2.2.2
numpy==1.26.4
plotly==5.22.0
matplotlib==3.10.3
seaborn==0.13.2

PyMuPDF==1.26.0
pdfplumber==0.11.6
pytesseract==0.3.13
pdf2image==1.17.0
Pillow==10.4.0

sentence-transformers==2.6.1
transformers==4.53.1
faiss-cpu==1.7.4
ollama==0.1.7

scikit-learn==1.6.1
scipy==1.15.3
statsmodels==0.14.5

SQLAlchemy==2.0.41
mysql-connector-python==9.3.0

psutil==7.0.0
uuid

python-docx
docx2txt

openpyxl       
xlrd           
xlsxwriter     
pyxlsb